<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <div class="display-4">Get in Touch!</div>
    <p class="lead">Welcome to our contact page - where your questions meet our answers.</p>
</div>
<div class="container">
    <p>Have a question, suggestion, or just want to say hello? We'd love to hear from you! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Our team is here to assist you with anything you need.</p>
</div>
<div class="container">
    <p>Feel free to reach out to us using the contact form below, or connect with us on social media. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam deserunt dolore error et vel optio vero facere nesciunt in alias! We can't wait to connect with you!</p>
</div>
