<div class="jumbotron text-center">
  <h1 class="display-4">Greetings, Explorers!</h1>
  <p class="lead">Step into your go-to shopping haven, where incredible deals await your discovery.</p>
  <p>Immerse yourself in a world of style and savings, as our carefully crafted design, complete with utility classes,
    ensures a visually delightful and spaciously organized shopping experience.</p>

    <h6 class="display-4"> Happy exploring!</h6>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Start Shopping</a> -->
</div>